Open Netflix titles

(https://www.kaggle.com/datasets/ashirwadsangwan/imdb-dataset; Netflix charges for downloads now)

In [1]:
import pandas as pd
from datetime import datetime

In [72]:
titlesFromNetflix = pd.read_csv('title.basics.tsv', sep='\t')

/var/folders/cp/7qmpmnt105b1wpvjj8wd7r140000gp/T/ipykernel_2506/3084644136.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  titlesFromNetflix = pd.read_csv('title.basics.tsv', sep='\t')

In [3]:
from pathlib import Path

import numpy as np
import requests

import ydata_profiling
from ydata_profiling.utils.cache import cache_file

In [4]:
titlesFromNetflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10388629 entries, 0 to 10388628
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 713.3+ MB

In [5]:
print(titlesFromNetflix.head())
print(titlesFromNetflix.shape)

      tconst titleType            primaryTitle           originalTitle  \
0  tt0000001     short              Carmencita              Carmencita
1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
2  tt0000003     short          Pauvre Pierrot          Pauvre Pierrot
3  tt0000004     short             Un bon bock             Un bon bock
4  tt0000005     short        Blacksmith Scene        Blacksmith Scene

  isAdult startYear endYear runtimeMinutes                    genres
0       0      1894      \N              1         Documentary,Short
1       0      1892      \N              5           Animation,Short
2       0      1892      \N              4  Animation,Comedy,Romance
3       0      1892      \N             12           Animation,Short
4       0      1893      \N              1              Comedy,Short
(10388629, 9)

## Next
Convert startYear to date. Don't need endYear because only looking at movies

In [6]:
titlesFromNetflix["startYear"] = pd.to_datetime(titlesFromNetflix["startYear"], format='%Y', errors="coerce").dt.year
#df['your column'] = df['your column'].astype(int, errors='ignore')
titlesFromNetflix["startYear"] = titlesFromNetflix["startYear"].astype(int, errors="ignore")

In [7]:
print(titlesFromNetflix.head())

      tconst titleType            primaryTitle           originalTitle  \
0  tt0000001     short              Carmencita              Carmencita
1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
2  tt0000003     short          Pauvre Pierrot          Pauvre Pierrot
3  tt0000004     short             Un bon bock             Un bon bock
4  tt0000005     short        Blacksmith Scene        Blacksmith Scene

  isAdult  startYear endYear runtimeMinutes                    genres
0       0     1894.0      \N              1         Documentary,Short
1       0     1892.0      \N              5           Animation,Short
2       0     1892.0      \N              4  Animation,Comedy,Romance
3       0     1892.0      \N             12           Animation,Short
4       0     1893.0      \N              1              Comedy,Short

In [8]:
titlesFromNetflix.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult            object
startYear         float64
endYear            object
runtimeMinutes     object
genres             object
dtype: object

In [9]:
titlesFromNetflix.dropna(subset=['startYear'])

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894.0,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892.0,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892.0,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892.0,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893.0,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
10388624,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009.0,\N,\N,"Action,Drama,Family"
10388625,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010.0,\N,\N,"Action,Drama,Family"
10388626,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010.0,\N,\N,"Action,Drama,Family"
10388627,tt9916856,short,The Wind,The Wind,0,2015.0,\N,27,Short
10388628,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014.0,\N,10,"Adventure,Animation,Comedy"

## Next
Drop unnecessary columns

In [10]:
titlesFromNetflix = titlesFromNetflix.drop(['originalTitle', 'isAdult', 'endYear', 'runtimeMinutes'], axis=1)

In [11]:
titlesFromNetflix.head()

,tconst,titleType,primaryTitle,startYear,genres
0,tt0000001,short,Carmencita,1894.0,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,1892.0,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,1892.0,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,1892.0,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,1893.0,"Comedy,Short"

## Next
Drop movies from before 1990

In [12]:
titlesFromNetflix = titlesFromNetflix.drop(titlesFromNetflix[titlesFromNetflix['startYear'] < 1990].index)

In [13]:
titlesFromNetflix.head()

,tconst,titleType,primaryTitle,startYear,genres
619,tt0000624,short,The Ugly Duckling,NaN,Short
919,tt0000929,short,Klebolin klebt alles,1990.0,"Comedy,Short"
965,tt0000977,short,Mutterliebe,1990.0,Short
11635,tt0011801,movie,Tötet nicht mehr,2019.0,"Action,Crime"
13080,tt0013274,movie,Istoriya grazhdanskoy voyny,2021.0,Documentary

In [14]:
titlesFromNetflix_dropped = titlesFromNetflix.drop(titlesFromNetflix[(titlesFromNetflix['startYear'].isna()) | (titlesFromNetflix['titleType'] == 'short')].index)

In [15]:
titlesFromNetflix_dropped.head()

,tconst,titleType,primaryTitle,startYear,genres
11635,tt0011801,movie,Tötet nicht mehr,2019.0,"Action,Crime"
13080,tt0013274,movie,Istoriya grazhdanskoy voyny,2021.0,Documentary
15175,tt0015414,movie,La tierra de los toros,2000.0,\N
15483,tt0015724,movie,Dama de noche,1993.0,"Drama,Mystery,Romance"
34799,tt0035423,movie,Kate & Leopold,2001.0,"Comedy,Fantasy,Romance"

In [16]:
titlesFromNetflix_dropped.tail()

,tconst,titleType,primaryTitle,startYear,genres
10388623,tt9916846,tvEpisode,Episode #3.18,2009.0,"Action,Drama,Family"
10388624,tt9916848,tvEpisode,Episode #3.17,2009.0,"Action,Drama,Family"
10388625,tt9916850,tvEpisode,Episode #3.19,2010.0,"Action,Drama,Family"
10388626,tt9916852,tvEpisode,Episode #3.20,2010.0,"Action,Drama,Family"
10388628,tt9916880,tvEpisode,Horrid Henry Knows It All,2014.0,"Adventure,Animation,Comedy"

In [17]:
titlesFromNetflix_dropped = titlesFromNetflix_dropped.drop(titlesFromNetflix_dropped[(titlesFromNetflix_dropped['genres'].isna()) | (titlesFromNetflix_dropped['titleType'] == 'tvEpisode')].index)

In [18]:
titlesFromNetflix_dropped.tail()

,tconst,titleType,primaryTitle,startYear,genres
10388547,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,2007.0,Documentary
10388552,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,2015.0,Drama
10388559,tt9916706,movie,Dankyavar Danka,2013.0,Comedy
10388569,tt9916730,movie,6 Gunn,2017.0,Drama
10388579,tt9916754,movie,Chico Albuquerque - Revelações,2013.0,Documentary

## Next 
Find out what kinds of items are in the database besides movies

In [19]:
titlesFromNetflix_dropped['titleType'].unique()

array(['movie', 'video', 'tvMovie', 'tvSeries', 'tvMiniSeries', 'tvShort',
       'tvSpecial', 'videoGame', 'tvPilot'], dtype=object)

Drop everything that isn't a movie

In [20]:
titlesFromNetflix_dropped = titlesFromNetflix_dropped.drop(titlesFromNetflix_dropped[titlesFromNetflix_dropped['titleType'] != 'movie'].index)

In [21]:
titlesFromNetflix_dropped['titleType'].unique()

array(['movie'], dtype=object)

In [22]:
titlesFromNetflix_dropped.tail()

,tconst,titleType,primaryTitle,startYear,genres
10388520,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,2015.0,Documentary
10388547,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,2007.0,Documentary
10388559,tt9916706,movie,Dankyavar Danka,2013.0,Comedy
10388569,tt9916730,movie,6 Gunn,2017.0,Drama
10388579,tt9916754,movie,Chico Albuquerque - Revelações,2013.0,Documentary

In [23]:
genres = titlesFromNetflix_dropped['genres'].unique()
len(genres)

1269

## Next 
Too many genres to sort here. However, drop documentaries

In [24]:
titlesFromNetflix_dropped = titlesFromNetflix_dropped.drop(titlesFromNetflix_dropped[titlesFromNetflix_dropped['genres'] == 'Documentary'].index)

In [25]:
titlesFromNetflix_dropped.shape

(283457, 5)

In [26]:
titlesFromNetflix_dropped['startYear'].max()

2031.0

## Next
Drop movies that haven't been made yet

In [27]:
titlesFromNetflix_dropped = titlesFromNetflix_dropped.drop(titlesFromNetflix_dropped[titlesFromNetflix_dropped['startYear'] > 2023].index)

In [28]:
titlesFromNetflix_dropped.shape

(280864, 5)

In [29]:
titlesFromNetflix_dropped['startYear'].max()

2023.0

In [30]:
titlesFromNetflix_dropped['startYear'].min()

1990.0

## Next
Import the language the movies are in. Only want American movies

In [31]:
countriesFromNetflix = pd.read_csv('title.akas.tsv', sep='\t')

/var/folders/cp/7qmpmnt105b1wpvjj8wd7r140000gp/T/ipykernel_2506/136537177.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  countriesFromNetflix = pd.read_csv('title.akas.tsv', sep='\t')

In [32]:
countriesFromNetflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38098714 entries, 0 to 38098713
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.3+ GB

In [33]:
countriesFromNetflix.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

## Next
Maybe let's use region rather than language to get us started

In [41]:
countries =countriesFromNetflix['region'].unique()

In [44]:
np.info(countries)

class:  ndarray
shape:  (249,)
strides:  (8,)
itemsize:  8
aligned:  True
contiguous:  True
fortran:  True
data pointer: 0x7fed49080a00
byteorder:  little
byteswap:  False
type: object

In [45]:
np.sort(countries)

TypeError: '<' not supported between instances of 'str' and 'float'

In [46]:
countries_str=countries.astype(str)

In [47]:
np.info(countries_str)

class:  ndarray
shape:  (249,)
strides:  (16,)
itemsize:  16
aligned:  True
contiguous:  True
fortran:  True
data pointer: 0x7fedad1b0200
byteorder:  little
byteswap:  False
type: <U4

In [48]:
np.sort(countries_str)

array(['AD', 'AE', 'AF', 'AG', 'AI', 'AL', 'AM', 'AN', 'AO', 'AQ', 'AR',
       'AS', 'AT', 'AU', 'AW', 'AZ', 'BA', 'BB', 'BD', 'BE', 'BF', 'BG',
       'BH', 'BI', 'BJ', 'BM', 'BN', 'BO', 'BR', 'BS', 'BT', 'BUMM', 'BW',
       'BY', 'BZ', 'CA', 'CC', 'CD', 'CF', 'CG', 'CH', 'CI', 'CK', 'CL',
       'CM', 'CN', 'CO', 'CR', 'CSHH', 'CSXX', 'CU', 'CV', 'CW', 'CY',
       'CZ', 'DDDE', 'DE', 'DJ', 'DK', 'DM', 'DO', 'DZ', 'EC', 'EE', 'EG',
       'EH', 'ER', 'ES', 'ET', 'FI', 'FJ', 'FM', 'FO', 'FR', 'GA', 'GB',
       'GD', 'GE', 'GF', 'GH', 'GI', 'GL', 'GM', 'GN', 'GP', 'GQ', 'GR',
       'GT', 'GU', 'GW', 'GY', 'HK', 'HN', 'HR', 'HT', 'HU', 'ID', 'IE',
       'IL', 'IM', 'IN', 'IQ', 'IR', 'IS', 'IT', 'JE', 'JM', 'JO', 'JP',
       'KE', 'KG', 'KH', 'KI', 'KM', 'KN', 'KP', 'KR', 'KW', 'KY', 'KZ',
       'LA', 'LB', 'LC', 'LI', 'LK', 'LR', 'LS', 'LT', 'LU', 'LV', 'LY',
       'MA', 'MC', 'MD', 'ME', 'MG', 'MH', 'MK', 'ML', 'MM', 'MN', 'MO',
       'MP', 'MQ', 'MR', 'MS', 'MT', 'MU', 'MV', 'MW', 'MX', 'MY', 'MZ',
       'NC', 'NE', 'NG', 'NI', 'NL', 'NO', 'NP', 'NR', 'NU', 'NZ', 'OM',
       'PA', 'PE', 'PF', 'PG', 'PH', 'PK', 'PL', 'PR', 'PS', 'PT', 'PW',
       'PY', 'QA', 'RE', 'RO', 'RS', 'RU', 'RW', 'SA', 'SB', 'SC', 'SD',
       'SE', 'SG', 'SH', 'SI', 'SK', 'SL', 'SM', 'SN', 'SO', 'SR', 'ST',
       'SUHH', 'SV', 'SY', 'SZ', 'TC', 'TD', 'TG', 'TH', 'TJ', 'TL', 'TM',
       'TN', 'TO', 'TR', 'TT', 'TV', 'TW', 'TZ', 'UA', 'UG', 'US', 'UY',
       'UZ', 'VA', 'VC', 'VDVN', 'VE', 'VG', 'VI', 'VN', 'VU', 'WS',
       'XAS', 'XAU', 'XEU', 'XKO', 'XKV', 'XNA', 'XPI', 'XSA', 'XSI',
       'XWG', 'XWW', 'XYU', 'YE', 'YUCS', 'ZA', 'ZM', 'ZRCD', 'ZW', '\\N',
       'nan'], dtype='<U4')

## First
Before dropping non-American movies, merge the movies and the region

In [50]:
filmsCountries = pd.merge(titlesFromNetflix_dropped,countriesFromNetflix,how = 'left',left_on='tconst', right_on='titleId')

In [51]:
filmsCountries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1522035 entries, 0 to 1522034
Data columns (total 13 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   tconst           1522035 non-null  object
 1   titleType        1522035 non-null  object
 2   primaryTitle     1522031 non-null  object
 3   startYear        1522035 non-null  float64
 4   genres           1522035 non-null  object
 5   titleId          1516845 non-null  object
 6   ordering         1516845 non-null  float64
 7   title            1516841 non-null  object
 8   region           1516823 non-null  object
 9   language         1516845 non-null  object
 10  types            1516845 non-null  object
 11  attributes       1516845 non-null  object
 12  isOriginalTitle  1516845 non-null  object
dtypes: float64(2), object(11)
memory usage: 151.0+ MB

## Next
Drop some unnecessary columns

In [52]:
filmsCountries = filmsCountries.drop(['ordering', 'types', 'attributes', 'isOriginalTitle'], axis=1)

In [53]:
filmsCountries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1522035 entries, 0 to 1522034
Data columns (total 9 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   tconst        1522035 non-null  object
 1   titleType     1522035 non-null  object
 2   primaryTitle  1522031 non-null  object
 3   startYear     1522035 non-null  float64
 4   genres        1522035 non-null  object
 5   titleId       1516845 non-null  object
 6   title         1516841 non-null  object
 7   region        1516823 non-null  object
 8   language      1516845 non-null  object
dtypes: float64(1), object(8)
memory usage: 104.5+ MB

In [56]:
1522035-1516845

5190

## Note
Working with language first, then move to region. Find the code for English

In [54]:
filmsCountries['language'].unique()

array(['\\N', 'en', 'bg', 'ja', 'fr', 'tr', 'ca', 'hr', 'cmn', 'yue',
       'hi', 'ru', 'ar', 'eu', 'ta', 'qbp', nan, 'de', 'ml', 'he', 'sk',
       'cs', 'uk', 'fa', 'nl', 'sv', 'qbn', 'sr', 'es', 'pt', 'lt', 'bn',
       'mr', 'af', 'ur', 'gu', 'te', 'kn', 'kk', 'mi', 'la', 'qal', 'cy',
       'gd', 'ga', 'tg', 'tl', 'th', 'ky', 'id', 'fi', 'az', 'el', 'wo',
       'hy', 'gl', 'bs', 'ms', 'sl', 'it', 'uz', 'no', 'ro', 'is', 'et',
       'hu', 'sq', 'xh', 'vi', 'gsw', 'sd', 'qbo', 'zh', 'mk', 'lv', 'yi',
       'ka', 'be', 'tk', 'da', 'lb', 'ko', 'ku', 'zu', 'su', 'pl', 'pa',
       'jv', 'fro', 'haw', 'mn', 'lo', 'ps', 'my', 'am', 'qac', 'ne',
       'iu', 'st', 'tn'], dtype=object)

In [55]:
(filmsCountries['primaryTitle'] != filmsCountries['title']).sum()

690405

In [57]:
filmsCountries = filmsCountries.drop(filmsCountries[(filmsCountries['language'].isna())].index)

In [58]:
filmsCountries.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1516845 entries, 0 to 1522034
Data columns (total 9 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   tconst        1516845 non-null  object
 1   titleType     1516845 non-null  object
 2   primaryTitle  1516841 non-null  object
 3   startYear     1516845 non-null  float64
 4   genres        1516845 non-null  object
 5   titleId       1516845 non-null  object
 6   title         1516841 non-null  object
 7   region        1516823 non-null  object
 8   language      1516845 non-null  object
dtypes: float64(1), object(8)
memory usage: 115.7+ MB

In [60]:
filmsCountries = filmsCountries.drop(filmsCountries[filmsCountries['language'] != 'en'].index)

In [61]:
filmsCountries.info()

<class 'pandas.core.frame.DataFrame'>
Index: 190684 entries, 6 to 1522026
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   tconst        190684 non-null  object
 1   titleType     190684 non-null  object
 2   primaryTitle  190684 non-null  object
 3   startYear     190684 non-null  float64
 4   genres        190684 non-null  object
 5   titleId       190684 non-null  object
 6   title         190684 non-null  object
 7   region        190684 non-null  object
 8   language      190684 non-null  object
dtypes: float64(1), object(8)
memory usage: 14.5+ MB

## Next
Drop by region

In [62]:
filmsCountries['region'].unique()

array(['XWW', 'ZA', 'ID', 'PH', 'EG', 'CA', 'SG', 'HK', 'IN', 'IL', 'TH',
       'XAS', 'JP', 'BE', 'XEU', 'NZ', 'BD', 'CH', 'MY', 'IE', 'GB', 'US',
       'JM', 'NG', 'PK', 'DE', 'FR', 'CN', 'AU', 'GR', 'BR', 'IR', 'RU',
       'IT', 'MX', 'TW', 'ES', 'YE', 'NO', 'DDDE', 'KR', 'UA', 'RO', 'TR',
       'SE', 'AT', 'BZ', 'XNA', 'ET', 'LT', 'PT', 'CZ', 'DK'],
      dtype=object)

In [63]:
filmsCountries = filmsCountries.drop(filmsCountries[filmsCountries['region'] != 'US'].index)

In [64]:
filmsCountries.info()

<class 'pandas.core.frame.DataFrame'>
Index: 980 entries, 7306 to 1521396
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tconst        980 non-null    object
 1   titleType     980 non-null    object
 2   primaryTitle  980 non-null    object
 3   startYear     980 non-null    float64
 4   genres        980 non-null    object
 5   titleId       980 non-null    object
 6   title         980 non-null    object
 7   region        980 non-null    object
 8   language      980 non-null    object
dtypes: float64(1), object(8)
memory usage: 76.6+ KB

In [65]:
filmsCountries.head()

,tconst,titleType,primaryTitle,startYear,genres,titleId,title,region,language
7306,tt0099704,movie,Grim Prairie Tales,1990.0,"Horror,Western",tt0099704,Grim Prairie Tales,US,en
8382,tt0099817,movie,Dark Angel,1990.0,"Action,Crime,Horror",tt0099817,Dark Angel,US,en
14688,tt0100789,movie,Crackdown,1991.0,"Action,Crime,Drama",tt0100789,Crackdown,US,en
16887,tt0101329,movie,An American Tail: Fievel Goes West,1991.0,"Adventure,Animation,Family",tt0101329,An American Tail: Fievel Goes West,US,en
22761,tt0102091,movie,And the Wind Returneth,1992.0,"Biography,Drama",tt0102091,And the Wind Returneth,US,en

In [66]:
(filmsCountries['primaryTitle'] != filmsCountries['title']).sum()

116

## Next
Import ratings

In [68]:
ratingsFromNetflix = pd.read_csv('title.ratings.tsv', sep='\t')

In [69]:
ratingsFromNetflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1378285 entries, 0 to 1378284
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1378285 non-null  object
 1   averageRating  1378285 non-null  float64
 2   numVotes       1378285 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 31.5+ MB

In [70]:
filmsCountriesRatings = pd.merge(filmsCountries,ratingsFromNetflix,how = 'left',on='tconst')

In [71]:
filmsCountriesRatings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         980 non-null    object
 1   titleType      980 non-null    object
 2   primaryTitle   980 non-null    object
 3   startYear      980 non-null    float64
 4   genres         980 non-null    object
 5   titleId        980 non-null    object
 6   title          980 non-null    object
 7   region         980 non-null    object
 8   language       980 non-null    object
 9   averageRating  936 non-null    float64
 10  numVotes       936 non-null    float64
dtypes: float64(3), object(8)
memory usage: 84.3+ KB

In [73]:
filmsCountriesRatings.head()

,tconst,titleType,primaryTitle,startYear,genres,titleId,title,region,language,averageRating,numVotes
0,tt0099704,movie,Grim Prairie Tales,1990.0,"Horror,Western",tt0099704,Grim Prairie Tales,US,en,5.4,1091.0
1,tt0099817,movie,Dark Angel,1990.0,"Action,Crime,Horror",tt0099817,Dark Angel,US,en,6.1,13423.0
2,tt0100789,movie,Crackdown,1991.0,"Action,Crime,Drama",tt0100789,Crackdown,US,en,6.0,69.0
3,tt0101329,movie,An American Tail: Fievel Goes West,1991.0,"Adventure,Animation,Family",tt0101329,An American Tail: Fievel Goes West,US,en,6.5,27844.0
4,tt0102091,movie,And the Wind Returneth,1992.0,"Biography,Drama",tt0102091,And the Wind Returneth,US,en,6.6,43.0

## Next
Drop some unnecessary columns

In [74]:
filmsCountriesRatings = filmsCountriesRatings.drop(['titleId', 'region', 'language'], axis=1)

In [75]:
filmsCountriesRatings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         980 non-null    object
 1   titleType      980 non-null    object
 2   primaryTitle   980 non-null    object
 3   startYear      980 non-null    float64
 4   genres         980 non-null    object
 5   title          980 non-null    object
 6   averageRating  936 non-null    float64
 7   numVotes       936 non-null    float64
dtypes: float64(3), object(5)
memory usage: 61.4+ KB

In [77]:
filmsCountriesRatings = filmsCountriesRatings.dropna(subset=['averageRating'])

In [78]:
filmsCountriesRatings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 936 entries, 0 to 979
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         936 non-null    object
 1   titleType      936 non-null    object
 2   primaryTitle   936 non-null    object
 3   startYear      936 non-null    float64
 4   genres         936 non-null    object
 5   title          936 non-null    object
 6   averageRating  936 non-null    float64
 7   numVotes       936 non-null    float64
dtypes: float64(3), object(5)
memory usage: 65.8+ KB

### Left with
936 possible movies